modules = ["nodejs-20", "web", "python-3.11", "bash"]

[nix]
channel = "stable-24_05"
packages = ["android-tools", "freetype", "gradle", "imagemagick", "lcms2", "libimagequant", "libjpeg", "libjpeg_turbo", "libpng", "libtiff", "libwebp", "libxcrypt", "openjdk", "openjpeg", "openssl", "postgresql", "tcl", "tk", "unzip", "which", "zip", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "flask_web_server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[workflows.workflow]]
name = "flask_web_server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uv add pillow transformers torch torchvision requests"

[[ports]]
localPort = 5000
externalPort = 80
