flask>=3.1.1
gunicorn>=23.0.0
pillow>=11.2.1
requests>=2.32.4
werkzeug>=3.1.3 
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
email_validator
pillow
psycopg2-binary
requests
werkzeug
google-genai
google-generativeai
python-dotenv
together
flask-dance
flask-login
oauthlib
pyjwt
flask-login
oauthlib